<div class="row m-0 pt-3">
    <div class="col-12">
        <mat-card class="mb-2">
            <form *ngIf=roomCreationForm [formGroup]="roomCreationForm" (ngSubmit)="createRoom()">
                <mat-form-field class="mx-3" appearance="standard">
                    <mat-label>Room Name</mat-label>
                    <input matInput type="text" formControlName="roomName"/>
                    <mat-error *ngIf="roomCreationForm.get('roomName')?.invalid">Room Name should be at least 6 characters long</mat-error>
                </mat-form-field>

                <mat-checkbox class="me-3" formControlName="publicRoom">Public</mat-checkbox>

                <button mat-raised-button color="primary" type="submit">Create</button>
            </form>

            <mat-divider class="mb-5"></mat-divider>

            <room-list [rooms]="userRooms" [pageSize]="15"></room-list>
        </mat-card>
    </div>
</div>
