<div *ngIf="!showName">
    <video *ngIf="stream" class="video-without-name ratio ratio-16x9" [autoplay]="true" [muted]="muted" [srcObject]="stream"></video>
</div>

<div *ngIf="showName">
    <mat-card>
        <mat-card-header class="ps-0">
            <h6>{{participantName}}</h6>
        </mat-card-header>
        <mat-card-content>
            <video *ngIf="stream" class="video-with-name ratio ratio-16x9" [autoplay]="true" [muted]="muted" [srcObject]="stream"></video>
        </mat-card-content>
    </mat-card>
</div>
